<nav class="sidebar__menu">
    <a href="#" class="menu__item">
      <div class="menu__icon">
        <img src="/images/home (1).svg" alt="">
      </div>
      <div class="menu__label">Inicio</div>
    </a>
    <a href="#" class="menu__item">
      <div class="menu__icon">
        <img src="/images/hoja1.svg" alt="">
      </div>
      <div class="menu__label">Contratos</div>
    </a>
    <a href="#" class="menu__item">
      <div class="menu__icon">
        <img src="/images/Tool.svg" alt="">
      </div>
      <div class="menu__label">Acciones</div>
    </a>
    <a href="#" class="menu__item">
      <div class="menu__icon">
        <img src="/images/star (1).svg" alt="">
      </div>
      <div class="menu__label">Objetivos</div>
    </a>
    <a href="#" class="menu__item">
      <div class="menu__icon">
        <img src="/images/money.svg" alt="">
      </div>
      <div class="menu__label">Herramientas</div>
    </a>
    <a href="#" class="menu__item">
      <div class="menu__icon">
        <img src="/images/talk2.svg" alt="">
      </div>
      <div class="menu__label">Servicio al cliente</div>
    </a>
  </nav>
