.sidebar {

  &__menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .menu__item {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 48px;
      text-decoration: none;
      background-color: var(--color-gris-muy-claro);
      font-family: var(--font-primary);
      font-weight: var(--fw-medium);
      font-size: var(--fs-lg);
      text-align: left;
      color: var(--color-gris-oscuro);
      transition: background 0.2s ease;

      &:hover {
        background-color: var(--color-verde-primario);
        color: var(--color-blanco);
      }

      .menu__icon {
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #ccc;
        margin: 0;
        padding: 0;

        .icon {
          font-size: 1.2rem;
        }
      }

      .menu__label {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 16px;
        height: 100%;
        margin: 0;
      }
    }
  }
}

